:root {
  --primary-black: #020202;
  --primary-grey: #d9d9d9;
  --primary-yellow: #f0d445;
  --dark-yellow: #e79c41;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

/* Global Styles */

a {
  text-decoration: none;
  color: black;
}

.side-padding {
  padding: 0 0.5rem;
}

.wrapper {
  width: 75%;
  /* width: 1080px; */
  margin: auto;
  overflow: hidden;
}

header img,
nav img {
  width: 30px;
}

/* Local Styles */
/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.left {
}

.left h2 {
  text-transform: uppercase;
  font-size: 1.9rem;
}

.left h2 span {
  text-transform: capitalize;
  color: var(--primary-yellow);
  margin-left: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
  border: 1px solid var(--primary-grey);
  border-radius: 6px;
  overflow: hidden;
}

.center input.search {
  width: 70%;
  border: none;
  padding: 0.3rem;
  margin: 0 10px;
  font-size: 1rem;
}

.center input.search:focus {
  outline: none;
}

.center select {
  border: none;
  padding: 0.3rem 0.5rem;
  color: #acacac;
  cursor: pointer;
}

.center select:focus {
  outline: none;
}

.center .search-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-yellow);
  padding: 4px 12px;
  padding-top: 8px;
  overflow: hidden;
  border: 1px solid var(--primary-yellow);
}
.center .search-icon img {
  width: 20px;
}

.right {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.right img {
  width: 25px;
}

.right .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right .user .user-details p {
  font-weight: bold;
  font-size: 1.1rem;
}

/* Navbar */
nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin: 2.3rem 0;
}

nav ul {
  list-style: none;
}

.navbar .categories {
  display: flex;
  gap: 1rem;
}

nav.navbar ul {
  display: flex;
  gap: 1.5rem;
}

/* Hero Section */

.hero-section {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 0;
  border-radius: 20px;
  background: linear-gradient(120deg, #e79c41, #f0d445);
}

.hero-section .left-side {
  margin-left: 6rem;
}

.hero-section .left-side h1 {
  margin-bottom: 0.5rem;
  color: #fff;
}
.hero-section .left-side button {
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background-color: var(--primary-yellow);
  margin-top: 2rem;
}

.hero-section .right-side img {
  width: 350px;
  display: block;
}

.hero-section .right-side {
  padding-top: 2.2rem;
  margin-right: 6rem;
}

/* categories section */

.top-categories-section {
  margin: 5rem 0;
}
.top-categories-section .top-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}

.top-categories-section ul {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  flex-wrap: wrap;
  list-style: none;
}

.top-categories-section li {
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-categories-section .product-circle {
  width: 51px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #020202;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.top-categories-section .paragraph {
  cursor: pointer;
}

.top-categories-section img {
  width: 30px;
}

/* popular products section */
.p-products-section {
  margin: 4rem 0;
}

.p-products-section .product-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.p-products-section .product {
  width: 228px;
  overflow: hidden;
}

.p-products-section .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.p-products-section .middle {
  background: var(--primary-grey);
  margin: 1rem 0;
  border-radius: 10px;
  position: relative;
}

.p-products-section .middle .heart {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.p-products-section .middle .heart img {
  width: 15px;
}

.p-products-section .middle img#product {
  width: 220px;
  padding: 3rem 1rem;
  object-fit: cover;
}

.p-products-section .top span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
  background-color: var(--primary-grey);
  padding: 3px 10px;
  border-radius: 50%;
}


.p-products-section p {
  font-weight: bold;
  font-size: 0.9rem;
}

.p-products-section span {
  font-weight: normal;
}

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem 0;
}

.rating .grey {
  background-color: var(--primary-grey);
  padding: 2px 10px;
  border-radius: 5px;
  margin-left: 5px;
}
.paragraph-padding{
  padding-top: 3px;
}

.rating img {
  width: 16px;
}


/* Popular Brands Section */

.p-brands-section {
  margin: 5rem 0;
}

.p-brands-section .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.p-brands-section .title span {
  cursor: pointer;
}

.p-brands-section .brands ul {
  list-style: none;
  display: flex; 
  flex-wrap: wrap;
  /* flex-direction: column; */
  gap: 22px;
}



.p-brands-section .brands img {
  width: 150px;
  background: var(--primary-grey);
  padding: 10px;
  border-radius: 4px;
}



/* Icons free delivery payment method */
.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 6rem 0;
}

.icons .icons-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.icons .icons-flex p {
  font-weight: bold;
}

.icons .icons-flex span {
  font-size: 0.8rem;
}


.icons img {
  width: 40px;
}



/* Newsletter section */
.newsletter {
  background: var(--primary-grey);
  padding:5rem 0;
}

.newsletter .newsletter-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.newsletter .right  {
  width: 40%;
  height: 38px;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  gap: 0;
  position: relative;
}

.newsletter .right input {
  width: 75%;
  padding: 0.78rem 2.2rem 0.78rem 0.8rem;
  border: none;
  margin: 0;
  font-size: 1.1rem;
}

.newsletter .right input:focus {
  outline: none;
}

.newsletter .right button {
  position: absolute;
  right: 10px;
  padding: 0.78rem 1.5rem;
  margin: 0;
  background: var(--primary-yellow);
  border-radius: 10px;
  border: none;
  font-weight: bold;

}

/* Zero Section */
.zero-section {
  font-family: sans-serif;
  margin: 4rem 0;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.zero-section h4 {
  margin-bottom: 1rem;
}
.zero-section .CTA ul {
  list-style: none;
}
.zero-section .CTA li {
  margin-bottom: 0.6rem;
} 

.stay-connected ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.stay-connected img {
  width: 30px;
}


/* Footer */
footer p {
  /* display: none; */
  width: 100%;
  height: 80px;
  text-align: center;
  padding: 2rem 0;
  background-color: var(--primary-black);
  color: white;
}
